body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 2em;
    font-weight: 700;
}

.talk p {
    margin: 0;
    flex: 1;
    font-weight: 400;
}
